.title,
.aboutMe {
  margin: 0 auto;
  padding: 2rem 0 2rem 0;
  color: $text-clr-primary;
  width: 60%;
  display: flex;
  justify-content: center;
}

.aboutMe {
  padding: 2.5rem 0;
  font-size: 1.125rem;
}

.about-image {
  width: 80%;
  border-radius: 40px;
}

@media screen and (max-width: 768px) {
  .aboutMe {
    padding: 1rem;
    font-size: 1rem;
    margin: 0 1rem;
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .about-image {
    width: 40%;
  }
}
