@import './index', './variables', './header', './about', './portfolio',
  './contact', './resume', './footer';

html,
body {
  height: 100vh;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}

.App-body {
  background-color: $primary-clr;
  flex: 1 0 auto;
}

.wrapper {
  background-color: $primary-clr;
  padding: 0;
  text-align: center;
  overflow-y: auto;
  flex: auto;
}

ul {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.pageContainer {
  position: relative;
}
