body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App-header {
  background-image: url("../../assets/images/technology-background.jpg");
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: 100%;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.h1 {
  margin-top: 0;
  padding-top: 2rem;
}

.App-link {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  border-radius: 15px 15px 0 0;
}

.nav-link:hover {
  color: goldenrod;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.nav-link:not(:hover) {
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.active {
  color: goldenrod;
  background-color: #095e93;
  padding: .5rem;
}

.list-links {
  width: 100%;
  padding-bottom: .5rem;
}

.about-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title,
.aboutMe {
  margin: 0 auto;
  padding: 2rem 0 2rem 0;
  color: #ffffff;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutMe {
  font-size: 1.125rem;
}

@media (max-width: 768px) {
  .aboutMe {
    padding: 1rem;
    font-size: 1rem;
    margin: 0 1rem;
    width: 80%;
  }
}

.about-image {
  width: 80%;
  border-radius: 40px;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem #050a27;
          box-shadow: 0.25rem 0.25rem 0.5rem #050a27;
}

@media (min-width: 768px) {
  .about-image {
    width: 40%;
  }
}

.email-link {
  color: #ffffff;
}

.email-link a {
  text-decoration: none;
  color: #ffffff;
}

.email-link a:hover {
  color: goldenrod;
  text-shadow: 0.25rem 0.25rem 0.5rem #050a27;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.email-link a:not(:hover) {
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
}

.project-container {
  margin-bottom: 2rem;
}

.card {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  position: relative;
  border-radius: 15px;
}

.card:hover {
  background-image: url("../../assets/images/technology-background.jpg");
}

.project-image {
  width: 95%;
  padding: 1rem 0;
}

.card-title {
  color: goldenrod;
  background-image: url("../../assets/images/technology-background.jpg");
  border-radius: 15px;
  padding: 0.5rem;
}

.content a {
  text-decoration: none;
}

.gitIcon {
  background-color: #095e93;
  width: 3.5rem;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .content {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    display: none;
    font-size: 1.5rem;
  }
  .card-title:hover {
    font-size: 2rem;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .gitIcon:hover {
    width: 4.25rem;
  }
  .image-container:hover + .content {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .column {
    -webkit-box-flex: 33%;
        -ms-flex: 33%;
            flex: 33%;
  }
}

@media only screen and (max-width: 768px) {
  .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url("../../assets/images/technology-background.jpg");
    margin: 1rem;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;
  }
  .image-container {
    width: 70%;
  }
  .card-title {
    background-image: none;
    color: #ffffff;
  }
  .card-title:hover {
    color: goldenrod;
  }
  .gitIcon {
    width: 2.5rem;
  }
  .gitIcon:hover {
    width: 3rem;
  }
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 75%;
  padding: 0 2rem;
  background-image: url("../../assets/images/technology-background.jpg");
  border-radius: 15px;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem #050a27;
          box-shadow: 0.25rem 0.25rem 0.5rem #050a27;
}

label {
  color: #ffffff;
  font-size: 1.25rem;
  margin: 1rem;
}

input {
  width: 100%;
  height: 2rem;
  border-radius: 1em;
}

textarea {
  width: 100%;
  height: 10rem;
  border-radius: 1em;
}

button {
  width: 20%;
  height: 3rem;
  margin: 1rem 0 1rem 0;
  border-radius: 1em;
  background-color: #095e93;
  color: #ffffff;
  text-shadow: 0.25rem 0.25rem 0.5rem #050a27;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem #050a27;
          box-shadow: 0.25rem 0.25rem 0.5rem #050a27;
  font-size: 1.5rem;
  width: 100%;
}

button:hover {
  color: goldenrod;
}

.error-text {
  color: goldenrod;
  background-color: rgba(5, 10, 39, 0.65);
  font-size: 1.5rem;
  width: 50%;
  margin: 0 auto;
}

.skills {
  padding: 1rem 0 1rem 0;
  color: #ffffff;
}

.skills p {
  font-size: 2rem;
}

.frontEndSkills,
.backEndSkills {
  padding: 1rem;
  margin: 1rem;
  background-image: url("../../assets/images/technology-background.jpg");
  border-radius: 15px;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem #050a27;
          box-shadow: 0.25rem 0.25rem 0.5rem #050a27;
}

.list {
  list-style: none;
  padding: 0;
  font-size: 1.5rem;
}

.resumeDownload {
  font-size: 1.75rem;
  margin: 0;
  padding: 2rem 0 .5rem 0;
  color: #ffffff;
  text-shadow: 0.25rem 0.25rem 0.5rem #050a27;
}

.resumeDownload > a {
  text-decoration: none;
  color: #ffffff;
}

.resumeDownload > a:hover {
  color: goldenrod;
}

.App-footer {
  background-image: url("../../assets/images/technology-background.jpg");
  color: #095e93;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
}

.icons {
  background-color: #095e93;
  margin: 0 2rem;
  padding: 1.125rem;
}

.icons:hover {
  background-color: goldenrod;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.icons:not(:hover) {
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

html,
body {
  height: 100vh;
  margin: 0 auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App {
  text-align: center;
}

.App-body {
  background-color: #095e93;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.wrapper {
  background-color: #095e93;
  padding: 0;
  text-align: center;
  overflow-y: auto;
  min-height: 100vh;
}

ul {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.pageContainer {
  position: relative;
  min-height: 100%;
}

.title {
  padding: 1rem;
  text-shadow: 0.25rem 0.25rem 0.5rem #050a27;
}
/*# sourceMappingURL=main.css.map */