:root {
  --primary-clr: #095E93;
  --secondary-clr: goldenrod;
  --text-clr-primary: #ffffff;
}

/* Main */

html, body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

/* Header and Nav Section */

.App-header {
  background-image: url('../src/assets/images/technology-background.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-clr-primary);
}

.App-link {
  color: var(--text-clr-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--text-clr-primary);
}

.active {
  color: var(--secondary-clr);
  background-color: var(--primary-clr);
  padding: 1rem;
}

.list-links {
  width: 100%;
  padding-bottom: 1rem;
}

.nav-link:hover {
  color: var(--secondary-clr);
}

.active:hover {
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  
}

/* **Body Section** */

.App {
  text-align: center;
}



.App-body {
  background-color: var(--primary-clr);
  flex: 1 0 auto;
}

.title, .about-page > h3 {
  margin: 0 auto;
  padding: 2rem 0 2rem 0;
  color: var(--text-clr-primary);
  width: 60%;
  display: flex;
  justify-content: center;
  
}

.wrapper {
  background-color: var(--primary-clr);
  padding: 0;
  text-align: center;
}

ul {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.resumeDownload {
  margin: 0;
  padding: 2rem 0 2rem 0;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* About Section */

.about-title > h3 {
  padding: 2.5rem 0;
}

.about-image {
  width: 25%;
  border-radius: 40px;
}

/* Contact Section */

#contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 1rem 0;
}

#contact-form > div {
  padding: 1.125rem;
}

/* Portfolio Section*/

.content {
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
}

/* Footer Section */

.App-footer {
  background-image: url('../src/assets/images/technology-background.jpg');
  color: var(--text-clr-primary);
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

}

.icons {
  background-color: var(--primary-clr);
  margin: 0 2rem;
  padding: 1.125rem;
}

.icons:hover {
  background-color: var(--secondary-clr);
}