.App-footer
  background-image: url('../../assets/images/technology-background.jpg')
  color: $primary-clr
  height: 4rem
  display: flex
  justify-content: space-evenly
  align-items: center
  bottom: 0

.icons
  background-color: $primary-clr
  padding: 1.125rem
  &:hover
    background-color: $secondary-clr
    box-shadow: 2px 2px 5px $secondary-clr, -2px -2px 5px $secondary-clr, -2px 2px 5px $secondary-clr, 2px -2px 5px $secondary-clr
    transition: all 500ms
  &:not(:hover)
    transition: all 500ms
