
.image-container
  width: 70%

.card
  border-radius: 15px
  margin: 1rem
  display: flex
  justify-content: center
  align-items: center
  background-image: url('../../assets/images/technology-background.jpg')

.project-image
  width: 100%
  padding: 1rem

.card-title
  color: $text-clr-primary
  padding: 0.5rem

.content
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 27%
  margin: .5rem
  a
    text-decoration: none
    font-size: 1.5rem

.gitIcon
  background-color: $primary-clr
  padding: .5rem
  width: 4rem
  border-radius: 1em
  box-shadow: .125rem .125rem .5rem $secondary-clr
